
@{
    ViewBag.Title = "Index";
}

@{<h2>Welcome <strong>@ViewBag.Name</strong>!</h2>}

@*@if (ViewBag.Name == "Name")
{
    <h1>Welcome, <strong>Teacher!</strong></h1>

}
else
{
    <h2>  Welcome, <strong>@ViewBag.Name</strong> :) </h2>
}*@

